/* @import url('http://fonts.googleapis.com/css2?family=Poopins:wght@400;'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    background: linear-gradient(to left top, #031a9a, #8b53ff);
}

.carousel.dragging .card{
    cursor:  grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
list-style: none;
height: 342px;
background: #fff;
border-radius: 8px;
display: flex;
cursor: pointer;
padding-bottom: 15px;
align-items: center;
justify-content: center;
flex-direction: column;
}

.wrapper i:first-child{left: -22px;}
.wrapper i:last-child{right: -22px;}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar{
    display: none;
}
.carousel :where(.card){
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;

}
.wrapper{
    max-width: 100px;
    width: 50%;
    position: absolute;
    top:20px;
}
.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.card span{
    color: #6a6d78;
    font-size: 1.31rem;
}
.wrapper i{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgb(0,0,0,0.23);

}

@media screen and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}